<ul>
    <li>
        Autor 1
    </li>
    <li>
        Autor 2
    </li>
    <li>
        Autor 3
    </li>
    <li>
        Autor 4
    </li>
    <li>
        Autor 5
    </li>
    <li>
        Autor 6
    </li>
    <li>
        Autor 7
    </li>
</ul>