{% extends "default.html" %}
<!--Our page template-->
{% set title = "Home" %}
<!--Set our page title-->

{% block content %}

<div class="workflo__header"></div>

<div class="form__outer">
    <div class="form__inner">
        <form Name="priceCalc" onSubmit="return false;" class="form__container">
            <label for="usersItem">Number of users:</label>
            <input type="number" name="usersItem" id="usersItem" onChange="calculatePrice(); checkform()" placeholder="User #" min="5"
                max="250">
            <label for="tierItem">Package Tier:</label>
            <select NAME="tierItem" onChange="calculatePrice(); checkform()" id="tierItem">
                <option value="">Choose package for user</option>
                <option value="25">Package tier A</option>
                <option value="45">Package tier B</option>
                <option value="85">Package tier C</option>
            </select>
            <label for="currencyItem">Currency:</label>
            <select NAME="currencyItem" onChange="calculatePrice(); checkform()" id="currencyItem">
                <option value="">Choose currency</option>
                <option value="1">£ Sterling</option>
                <option value="1.35">$ Dollar</option>
                <option value="1.1">€ Euro</option>
            </select>
        </form>

        <div class="form__container form__container__result form__container__result--hidden" id="results">
            <label for="TotalPrice">Singular user cost:</label>
            <input type="text" id="TotalPrice" Size=8>
            <label for="MonthlyPrice">Total monthly amount:</label>
            <input type="text" id="MonthlyPrice" Size=8>
        </div>

    </div>
</div>

{% endblock %}