html{
    background: $tertiary;
}

.workflo__header{
    width: 100%;
    height: 128px;
    background: $tertiary url("/img/wf_logo.svg") no-repeat;
    background-position: 24px center;
    background-size: 80px;
    animation: pageLoad 1s;
    @media (max-width: $mobile) {
        height: 96px;
    }
}

.form__outer {
    width: 100%;
    display: flex;
    background: $tertiary;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 24px 0 24px;
    animation: pageLoad 1s;
    @media (max-width: $mobile) {
        padding: 0 12px 0 12px;
    }
}

.form__inner {
    width: 600px;
}

.form__container {
    width: 100%;
    max-width: 600px;
    padding: 36px 28px;
    border-radius: $border-rad;
    background: $white;
    width: 100%;
    margin: 24px auto;
    &:first-child{
        margin: 12px auto 24px auto;
    }
    @media (max-width: $mobile) {
        padding: 24px 12px 0 12px;
    }
    input,
    select {
        width: 100%;
        height: 36px;
        margin: 0 0 24px 0;
        border-radius: $border-rad;
        border: 1px solid $background-dark;
        padding: 0 12px;
        background: $white;
    }
}

.form__container__result {
    user-select: none;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    margin: 24px auto;
    input,
    select {
        font-weight: 600;
        font-size: 1.2rem;
        padding: 0;
        border: none;
        border-radius: $border-rad;
        margin: 0 0 24px 0;
        pointer-events: none;
    }

    &:after {
        width: 150%;
        height: 100%;
        background: $gradient_1;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        transition: 0.6s;
        transform: translate(-120%, 0) skew(45deg, 0);
    }
}

.form__container__result--hidden {
    opacity: 0;
    transition-delay: 0.25s;
    &:after {
        transform: translate(0, 0);
        z-index: 1;
    }
}

@keyframes pageLoad {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}