// Primary Colors
$primary: #00D2F1;
$primary-dark: #41AADB;

$secondary: #00FF6F;
$secondary-dark: #1CBF9A;

$tertiary: #222D43;
$tertiary-light: #21546B;

$white: #fff;

$background-dark: #BFCFD9;
$background-light: #EDF3FE;
// Switched this from #ECF2F6 to #F6FBFF

$background-d-dark: #485156;
$background-d-light: #8A959C;

$text: #34393B;

// Gradients
$gradient_cta: linear-gradient(120deg, $primary 0%, $secondary 100%);
$gradient_1: linear-gradient(120deg, $secondary 0%, $primary 100%);
