@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
$basefont: 'Roboto',
sans-serif;
html {
    font-size: 10pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-family: $basefont;
    margin: 0.5em 0;
}

p,
blockquote,
pre,
a,
ol,
ul,
li,
tr,
th,
td,
menu,
{
    font-size: 1.1rem;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.4rem;
    @media (max-width: $tablet) {
        font-size: 2.2em;
    }
    @media (max-width: $mobile) {
        font-size: 2em;
    }
}

h2 {
    font-size: 2.2rem;
    @media (max-width: $tablet) {
        font-size: 2em;
    }
    @media (max-width: $mobile) {
        font-size: 1.8em;
    }
}

h3 {
    font-size: 2rem;
    @media (max-width: $tablet) {
        font-size: 1.8em;
    }
    @media (max-width: $mobile) {
        font-size: 1.6em;
    }
}

h4 {
    font-size: 1.8rem;
    @media (max-width: $tablet) {
        font-size: 1.6rem;
    }
    @media (max-width: $mobile) {
        font-size: 1.4rem;
    }
}

h5 {
    font-size: 1.6rem;
    @media (max-width: $tablet) {
        font-size: 1.4rem;
    }
    @media (max-width: $mobile) {
        font-size: 1.2rem;
    }
}

h6 {
    font-size: 1.4rem;
    @media (max-width: $tablet) {
        font-size: 1.2rem;
    }
    @media (max-width: $mobile) {
        font-size: 1rem;
    }
}