$shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

@mixin button__shadow($default-shadow){
box-shadow: 0 5px 10px 0 $default-shadow;
}
@mixin button__shadow--hover($default-shadow){
    box-shadow: 0 8px 10px 0 $default-shadow;
}

$border-rad: 5px;

$text: #000;

$desktop: 1024px;
$tablet: 756px;
$mobile: 512px;